body
{
    background-color: gray;
}
.title
{
    font-size: 4rem;
    text-align: center;
    margin-bottom: 150px;
}
.set
{
  display: flex;
  text-align: center;
  justify-content: center;  
}
button
{
    border: 10px solid #404869;
    line-height: 2;
    width: 150px;
    height: 150px;
    border-radius: 15px;
    font-size: 5rem;
    margin: 10px;
}
.w
{
    background-image: url("images/tom1.png");
}
.a
{
    background-image: url("images/tom2.png");
}
.s
{
    background-image: url("images/tom3.png");
}
.d
{
    background-image: url("images/tom4.png");
}
.j
{
    background-image: url("images/snare.png");
}
.k
{
    background-image: url("images/crash.png");
}
.l
{
    background-image: url("images/kick.png");
}

.pressed
{
    box-shadow: 0 3px 0 4px #DBEDf3;
    opacity: 0.5;
}